.sortButtons {
  display: inline;
  margin: 0 5px;
}

.sortButton {
  margin: 0 1px;
  padding: 1px 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #aaa;
  line-height: 1.3;
}

.sortButton:hover {
  cursor: pointer;
}

.active {
  background-color: #aaa;
  color: #fff;
}

.table {
  width: 740px;
  border: 1px solid #000;
}

.tableHead {
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr);
  position: sticky;
  top: 40px;
  background-color: #ddd;
  text-align: center;
  line-height: 2;
  font-weight: 500;
}

.tableContents {
  background-color: #fff;
}

.tableRow {
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr);
  height: 55px;
  border: 1px solid #eee;
  transition: all ease 0.3s;
}

.tableRow:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.indexCell {
  margin: 0 5px;
  text-align: center;
}

.cell {
  align-self: center;
}

.exchange {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exchange > img {
  margin-right: 5px;
}
